In [1]:
from pathlib import Path
import pandas as pd

In [2]:
path_to_csv = Path('../sim/sweep/data1/f0.9/')
csv_files = path_to_csv.glob('*.csv')

df = pd.concat((pd.read_csv(f, comment='#', index_col=False) for f in csv_files), ignore_index=True)

In [3]:
df.describe()

,dlon,dlat,dyaw,left,right,strut
count,9008.000000,9.008000e+03,9.008000e+03,9008.000000,9008.000000,9008.000000
mean,0.000065,-2.096889e-05,2.358047e-03,-0.000389,-0.000444,0.015003
std,0.128107,3.590925e-02,7.677415e-01,5.944982,5.944513,0.010606
min,-0.379886,-1.173610e-01,-2.362900e+00,-10.000000,-10.000000,0.000000
25%,-0.082377,-2.591182e-02,-5.364625e-01,-5.000000,-5.000000,0.007500
50%,-0.000415,1.941655e-16,-2.757640e-14,0.000000,0.000000,0.015000
75%,0.082320,2.572845e-02,5.371665e-01,5.000000,5.000000,0.022500
max,0.379905,1.176840e-01,2.413130e+00,10.000000,10.000000,0.030000

In [4]:
df.head()

       dlon      dlat      dyaw  left  right   strut
0  0.000165 -0.000497 -2.220100 -10.0   10.0  0.0225
1 -0.034852 -0.008535  0.352997   3.5   -1.0  0.0000
2  0.022507 -0.015856 -1.180310  -7.5    5.5  0.0150
3  0.012143  0.014465  1.384160   7.5   -9.0  0.0000
4  0.031215 -0.013856 -0.847198  -6.5    4.0  0.0000

In [7]:
# Flip wheel speeds so that positive goes forward
df1 = df.copy()
df1['left'] = -df['left']
df1['right'] = -df['right']

In [8]:
df1.head()

       dlon      dlat      dyaw  left  right   strut
0  0.000165 -0.000497 -2.220100  10.0  -10.0  0.0225
1 -0.034852 -0.008535  0.352997  -3.5    1.0  0.0000
2  0.022507 -0.015856 -1.180310   7.5   -5.5  0.0150
3  0.012143  0.014465  1.384160  -7.5    9.0  0.0000
4  0.031215 -0.013856 -0.847198   6.5   -4.0  0.0000

In [9]:
# Normalize

# Min-Max
df2 = (df1 - df1.min())/(df1.max() - df1.min())

# Standard Score, Standardization, 
# df2 = (df1 - df1.mean())/df1.std()

# df2 = df1

# More info: https://stats.stackexchange.com/questions/7757/data-normalization-and-standardization-in-neural-networks

In [10]:
df2.describe()

,dlon,dlat,dyaw,left,right,strut
count,9008.000000,9008.000000,9008.000000,9008.000000,9008.000000,9008.000000
mean,0.500073,0.499224,0.495235,0.500019,0.500022,0.500111
std,0.168608,0.152776,0.160749,0.297249,0.297226,0.353534
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.391566,0.389071,0.382418,0.250000,0.250000,0.250000
50%,0.499441,0.499313,0.494741,0.500000,0.500000,0.500000
75%,0.608332,0.608775,0.607213,0.750000,0.750000,0.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
df2.to_pickle(path_to_csv/'pd-data.pickle')
# df.to_pickle(path_to_csv/'pd-data.pickle')

In [ ]:
pd.unique(df2['left'])

In [ ]:
df_forward = df2.loc[df2['left'] == df2['right']]
df_forward.describe()

In [ ]:
df_forward.boxplot(column=['dlon', 'dlat', 'dyaw']);

In [ ]:
df_rotate = df2.loc[df2['left'] == -df2['right']]
df_rotate.describe()

In [ ]:
df_rotate.boxplot(column=['dlon', 'dlat', 'dyaw']);

In [ ]:
diff = 4

x = df2['left'] == (df2['right'] + diff)
y = df2['left'] == (df2['right'] - diff)
z = x | y

df_veer = df2.loc[z]
df_veer.describe()

In [ ]:
df_veer.boxplot(column=['dlon', 'dlat', 'dyaw']);

In [ ]:
csv_files = path_to_csv.glob('*.csv')
f = next(csv_files)

with open(f) as file:
    print(file.read())
df = pd.read_csv(f, comment='#', index_col=False)
df

In [ ]:
import matplotlib.pyplot as plt

corr = df.corr()
plt.matshow(corr)
plt.xticks(range(len(corr.columns)), corr.columns);
plt.yticks(range(len(corr.columns)), corr.columns);

In [ ]:
corr

In [ ]:
csv_files = path_to_csv.glob('*.csv')
for f in csv_files:
    try:
        dftemp = pd.read_csv(f, comment='#', index_col=False)
    except pd.errors.ParserError:
        print(f)
    if dftemp.shape != (1, 6):
        print(dftemp.shape)
        print(f)

In [ ]:
# csv_files = path_to_csv.glob('*.csv')
# f = next(csv_files)

f = '../sim/sweep/data1/f0.9/sweep-1_-2.5_8.5_0.0_0.9.csv'
f = '../sim/sweep/data1/f0.9/sweep-1_6.0_-4.5_0.0_0.9.csv'
with open(f) as file:
    print(file.read())
# df = pd.read_csv(f, comment='#', index_col=False)
# df

In [ ]:
df.plot.scatter('right', 'left', c='dyaw');